


{% extends 'base-admin.html' %}

    {% block content %}
        <div class="body-content">
            <h1 class='center'>Delete {{ target.name }}?</h1>
            <br>
            <div class="go-back-div">
                <form method="POST" action="{{ url_for('delete_member') }}">
                    <a href="{{ url_for('view_members') }}"><button class="go-back" name="delete" value="back">Back</button></a>
                    <button type="submit" name="delete" value="{{ target.name }}" class="go-back danger">Confirm</button>
                </form>
            </div>
            <br>
        </div>

    {% endblock %}
