

{% extends 'base.html' %}

{% block content %}
    <div class='body-box'>
        <div class='body-content'>
            <h2 class='content-title'>Our group</h2>
            <hr>
            <br>
            <p>Rhythm and Rhyme (RR) is composed of Filipinos around the world; diverse individuals with a common love for music. Established on the 10th of May 2018, the group has steadfastly grown in number. Thanks to the unwavering passion of the people behind the conceptualization and ratification of the group: Ella, Sam, Leslie.</p>
        </div>
        <div class='body-content'>
            <h2 class='content-title'>Our vision</h2>
            <hr>
            <br>
            <p>Rhythm and Rhyme's vision is to be known in the digital world as one of the best groups that hails exceptional Filipino talents. It also envisions to create phenomenal group collaboration, not only to entertain but to emanate the harmonious connection among its members.</p>
        </div>
        <div class='body-content'>
            <h2 class='content-title'>Our values</h2>
            <hr>
            <br>
            <p>Rhythm and Rhyme extremely values discipline, order, and fun. It highly expects its officers and members alike, to strictly observe its rules and regulations. This is to ensure a harmonious and enjoyable relationship within the group.</p>
        </div>
   </div>
{% endblock %}
